.idea/*
__pycache__/*
models/__pycache__/*
models/__pycache__/*
data/
model_weights/
utils/__pycache__/
.mypy_cache/
.pytest_cache/
.idea/
.ipynb_checkpoints
/pretrained_weights
*.png
vgg16-transfer-learning-pytorch.ipynb