.idea/workspace.xml
.idea/vcs.xml
.idea/workspace.xml
models/__pycache__/*
.idea/workspace.xml
.idea/workspace.xml
.idea/workspace.xml
data/
model_weights/
utils/__pycache__/
.mypy_cache/
.pytest_cache/
.idea/
.ipynb_checkpoints
/pretrained_weights
*.png
vgg16-transfer-learning-pytorch.ipynb